@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #f59e0b;
  --color-background-warm: #fdfbf7;
  --font-outfit: "Outfit", sans-serif;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

  html,
  body {
    font-family: "Outfit", sans-serif;
    background-color: var(--color-background-warm);
    color: #18181b;
  }
}
